.links {
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: clamp(10px, 4vw, 25px);

  .link-element:not(:nth-last-of-type(1)) {
    margin-bottom: clamp(10px, 2vw, 17px);
  }

  .link {
    display: inline-block;
    font-size: clamp(14px, 3vw, 18px);
    line-height: 1.18;
    color: #000;
    transition: color 0.15s, transform 0.15s;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      transform: scale(1.1);
      color: #ff641a;
    }
  }
}

.group-links:nth-last-of-type(1) {
  margin-top: clamp(15px, 3vw, 25px)
}

.main-text {
  text-align: center;
  color: darkgreen;
}
