<div class="footer">
  <div class="footer__info">
    <div class="logo-socials">
      <a class="logo">
        <img class="logo__img" src="./assets/images/panda.png" alt="panda">
        <span class="logo__name">EEFK</span>
      </a>
      <div class="socials">
        <a href="https://www.youtube.com/" class="social-item" target="_blank">
          <img src="./assets/images/youtube-icon.png" alt="youtube">
        </a>
      </div>
    </div>
    <div class="contacts">
      <div class="contacts__title text-bold">Контакты</div>
      <div class="contacts__body">
        <a class="contact-item" href="mailto:heilyfantomhaif@gmail.com?subject=Задати питання?">
          heilyfantomhaif@gmail.com
        </a>
        <a class="contact-item" href="tel:+380502617025">+38 (050) 261 70 25</a>
      </div>
      <div class="contacts__text">Задать вопрос</div>
    </div>
  </div>
  <div class="about">
    <span class="text-bold">(c)2021 EEFK</span>
    <span class="about-info">
      Вивчення англійскої мови за допомогою цифрових технологій
    </span>
  </div>
</div>

