/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.btn-default {
  display: block;
  height: max-content;
  width: max-content;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
}

.text-bold {
  font-weight: 600;
}

a {
  cursor: pointer;
}
