<div class="video-gallery-page">
  <div class="videos container-wrapper">
    <div class="container-block container-block--last-block">
      <h4 class="video-gallery__title text-bold">Відео галерея</h4>
      <div class="videos-wrapper">
        <div *ngFor="let video of videos; index as i; trackBy:identify" class="video">
          <div *ngIf="video.isLoading" class="video-spinner">
            <mat-spinner class="video-mat-spinner"></mat-spinner>
          </div>
          <iframe
            [src]="video.src | safe"
            (load)="onLoadVideo(video)"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
