.parent-message {
  color: #323232;

  &__text {
    font-size: clamp(16px, 3vw, 20px);
    line-height: 1.18;

    span {
      font-size: clamp(14px, 3vw, 23px);
      line-height: 1.18;
    }
  }

  p {
    margin-bottom: clamp(15px, 4vw, 25px);
  }

  p:nth-last-child(1) {
    margin: 0;
  }
}

.video {
  position: relative;
  width: 100%;
  height: 60vw;
  margin: 25px auto 0;

  @media screen and (min-width: 920px) {
    width: 75vw;
    height: 45vw;
    max-width: 750px;
    max-height: 450px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
