<div class="page">
  <div class="parent-message container-wrapper">
    <div class="container-block">
      <h4 class="title-text text-bold">Шановні батьки!</h4>
      <p class="parent-message__text">
        Ваша участь у розвитку власної дитини вплине на її успіхи в майбутньому.
        Повторюйте разом із дитиною вивчені на наших заняттях слова та вирази у вигляді гри.
      </p>
      <p class="parent-message__text">
        Гра як основний вид діяльності дитини дозволить мотивувати дитину до навчання та активізує дитячу пам’ять.
      </p>
      <p class="parent-message__text">
        Якщо виникають труднощі, проконсультуйтесь з педагогом із раннього навчання іноземної мови.
      </p>
      <p class="parent-message__text">
        Перегляньте відео з порадами, які допоможуть вам вивчати англійську мову разом з вашими дітьми. Приємного перегляду!
      </p>
      <div class="video">
        <div *ngIf="video.isLoading" class="spinner-wrapper">
          <span class="spinner"></span>
        </div>
        <iframe
          [src]="video.src | safe: true"
          (load)="onLoadVideo(video)"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>




