<div class="page">
  <div class="videos container-wrapper">
    <div class="container-block">
      <h4 class="thematic-block__title title-text text-bold">Відео галерея</h4>
      <div class="videos-wrapper">
        <div *ngFor="let video of videos; index as i; trackBy:identify" class="video">
          <div *ngIf="video.isLoading" class="spinner-wrapper">
            <span class="spinner"></span>
          </div>
          <iframe
            [src]="video.src | safe: true"
            (load)="onLoadVideo(video)"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngFor="let resource of resources;trackBy:identify; let last"
    class="container-wrapper"
    [class.container-block--last-block]="last"
  >
    <div class="container-block">
      <h4 class="title-text text-bold">{{ resource.title }}</h4>
      <div class="resource">
        <div *ngIf="resource.isLoading" class="spinner-wrapper">
          <span class="spinner"></span>
        </div>
        <iframe
          [src]="resource.src | safe"
          (load)="onLoadResource(resource)"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
