<div class="main-page">
  <div class="main-page__bnr">
    <img class="main-page__bnr--img" src="./assets/images/cats.png" alt="cats">
  </div>
  <div class="about-us container-wrapper">
    <div class="container-block">
      <h4 class="title-text text-bold">Про нас</h4>
      <p class="about-us__text">
        <span class="text-bold">EEFK (Easy english for kids)</span>
        - це найкращий веб-сайт з підборкою відеоматеріалів для дітей, батьків та педагогів.
        Саме тут ви знайдете найцікавіші та найефективніші інтерактивні ігри та відео для вивчення англійської мови.
      </p>
      <p class="about-us__text">
        Місія EEFK полягає в тому, щоб допомогти легко та цікаво опанувати іншомовну лексичну компетенцію на ранньому
        етапі вивчення англійської мови.
      </p>
    </div>
  </div>
  <div class="video-presentation container-wrapper">
    <div class="container-block">
      <h4 class="title-text text-bold">Вітальне відео</h4>
      <div class="video">
        <div *ngIf="video.isLoading" class="video-spinner">
          <mat-spinner></mat-spinner>
        </div>
        <iframe
          [src]="video.src | safe"
          (load)="onLoadVideo(video)"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
