:host {
  @media screen and(min-width: 760px) {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 100;
  }
}

.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 20px;
  padding: 10px;
  min-height: 80px;
  box-shadow: rgb(0, 0, 0, 0.2) 0 1px 3px;

  @media screen and(min-width: 620px){
    padding: 10px 20px;
  }

  &__logo {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: clamp(20px, 5vw, 40px);
    text-decoration: none;
    color: #000;

    &--img {
      width: auto;
      height: 50px;
    }
  }

  &__nav {
    justify-self: flex-end;

    @media screen and (min-width: 620px) {
      justify-self: flex-start;
    }
  }

  &__nav-ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 15px);
    max-width: 600px;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and(min-width: 600px) {
     flex-direction: row;
    }
  }

  .link-item {
    color: #000000;
    font-size: clamp(14px, 3vw, 17px);
    font-weight: 500;
    transition: color 0.15s;
    text-decoration: none;

    &:hover {
      color: #a8cdc3;
    }
  }

  a.link-item.link-item--active {
    color: #ff641a;
  }
}
