<div id="header" class="header">
  <a routerLink="/" class="header__logo">
    <img class="header__logo--img" src="./assets/images/panda.png" alt="panda">
    <span class="header__logo-name">EEFK</span>
  </a>
  <nav class="header__nav">
    <ul class="header__nav-ul">
      <li class="header__nav-li">
        <a routerLink="/"
           [routerLinkActiveOptions]="{ exact: true }"
           class="link-item"
           routerLinkActive="link-item--active"
        >
          Головна
        </a>
      </li>
      <li class="header__nav-li">
        <a routerLink="/video-gallery"
           [routerLinkActiveOptions]="{ exact: true }"
           class="link-item"
           routerLinkActive="link-item--active"
        >
          Відео галерея
        </a>
      </li>
      <li class="header__nav-li">
        <a
          routerLink="/parents-and-childs"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-item"
          routerLinkActive="link-item--active"
        >
          Для детей та батьків
        </a>
      </li>
      <li class="header__nav-li">
        <a
          routerLink="/useful-links"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-item"
          routerLinkActive="link-item--active"
        >
          Корисні посилання
        </a>
      </li>
    </ul>
  </nav>
</div>
